*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
GS451_IC50.txt
CB1908_IC50.txt